{% extends 'base.html' %}

{% block title %}Your Punches{%endblock%}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="punches" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script>
    $(function () { 
        $('input[type="date"]').datepicker();
      });
    </script>
{% endblock %}

{% block container %}

<h1>Reports</h1>

<form action="." method="GET">
<table class="table">
{% if request.user.is_superuser %}
    <tr>
        <td>User</td>
        <td>
            <select name="user">
            <option value="">All Users</option>
            {% for user in users %}
            <option value="{{ user.id }}">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</option>
            {% endfor %}
            </select>
        </td>
    </tr>
{% endif %}
<tr>
    <td>Project</td>
    <td>
        <select name="project">
        <option value="">All Projects</option>
        {% for project in projects %}
        <option value="{{ project.id }}">{{ project.title }}</option>
        {% endfor %}
        </select>
    </td>
</tr>
<tr>
    <td>Clock In Time</td>
    <td>
        <input type="date" name="time_in" data-date-format="yyyy-mm-dd">
    </td>
</tr>
<tr>
    <td>Clock Out Time</td>
    <td>
        <input type="date" name="time_out" data-date-format="yyyy-mm-dd">
    </td>
</tr>
<tr>
    <td>Notes</td>
    <td>
        <input type="text" name="note" placeholder="Your note...">
    </td>
</tr>
</table>
<button type="submit">Search!</button>
</form>

<hr>

<table class="table">
<thead>
<tr>
    <th>Project</th>
    <th>Clock In Time</th>
    <th>Clock Out Time</th>
    <th>Duration</th>
    <th>Notes</th>
</tr>
</thead>
<tbody>
{% for punch in punch_list %}
<tr>
    <td>{{ punch.project.title }}</td>
    <td>{{ punch.time_in }}</td>
    <td>{{ punch.time_out }}</td>
    <td>{{ punch.duration }}</td>
    <td>{{ punch.note }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="5">
        Sorry, no time card entries match your search. Either get to work or broaden your search.
    </td>
</tr>
{% endfor %}
</tbody>
{% if punch_list %}
<tfoot>
    <tr>
        <td colspan="3" style="text-align:right;">Total Time:</td>
        <td>{{ total_time }}</td>
        <td></td>
    </tr>
</tfoot>
{% endif %}
</table>

{% block pagination %}
      {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="/?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}

{% endblock %}